@tailwind base;
@tailwind components;
@tailwind utilities;

body,
.bg-gradient {
  background-color: #0f0e13;
  background-image: linear-gradient(
    to right,
    rgb(11, 20, 38) 0%,
    rgb(1, 8, 22) 100%
  );
}

.bg-gradient-crousel {
  background: linear-gradient(
    90deg,
    rgb(17, 153, 250) 0%,
    rgb(17, 208, 250) 100%
  );
  filter: blur(32px);
}

.slider {
  background-image: linear-gradient(
    189.56deg,
    rgba(0, 0, 0, 0.35) 14.53%,
    rgba(0, 0, 0, 0.71) 79.27%
  );
  position: relative;
  width: 100%;
  height: 55vh;
  z-index: 999;
  opacity: 0.6;
}

.fadeout {
  animation: fade 4s infinite;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
}

@keyframes rainbowGlow {
  0% { box-shadow: 0 0 10px red; }
  16% { box-shadow: 0 0 10px orange; }
  32% { box-shadow: 0 0 10px yellow; }
  48% { box-shadow: 0 0 10px green; }
  64% { box-shadow: 0 0 10px blue; }
  80% { box-shadow: 0 0 10px indigo; }
  100% { box-shadow: 0 0 10px violet; }
}

.animate-rainbow-neon {
  animation: rainbowGlow 3s infinite linear;
  border-radius: 1rem;
  pointer-events: none;
}

.text-gradient {
  background: linear-gradient(90deg, #ff0000, #ff9900, #ffff00, #00ff00, #00ffff, #0000ff, #9900ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

